<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dewonderstruck.apps.ashx0"
    android:installLocation="auto"
    tools:overrideLibrary="com.google.android.youtube.player">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.dewonderstruck.apps.App"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app__app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:testOnly="false"
        android:theme="@style/Base.PSTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:overrideLibrary="com.google.android.youtube.player"
        tools:replace="android:label, android:fullBackupContent ,android:allowBackup, android:theme">
        
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="792559c5a711f7cf2478ccb63f0ed2aa"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />

        <activity
            android:name=".ui.apploading.AppLoadingActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ashtrixx.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ashtrixx.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dewonderstruck.apps.MainActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <service android:name="com.uxcam.service.HttpPostService"/>

        <activity
            android:name=".ui.category.CategoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.user.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.user.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.UserForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.filtering.FilteringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.notification.detail.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />


        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.danceoholics.DanceoholicsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.favourite.FavouriteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <meta-data
            android:name="com.dewonderstruck.apps.ashx0.utils.CustomCachingGlideModule"
            android:value="AppGlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/global__accent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <service android:name=".utils.FirebaseInstanceIDService" android:stopWithTask="false"> -->
        <service android:name=".utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.product.detail.ProductActivity" />

        <activity
            android:name=".ui.notification.list.NotificationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.list.ProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.terms.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.gallery.detail.GalleryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.product.search.SearchByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.history.UserHistoryListActivity"
            android:label="@string/title__activity_user_history_list"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:theme="@style/Base.PSTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".ui.collection.CollectionBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.blog.list.BlogListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" >
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".ui.blog.detail.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.forceupdate.ForceUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.verifyemail.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.privacyandpolicy.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.phonelogin.PhoneLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.verifyphone.VerifyMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
    </application>

</manifest>